include ../partials/head

.container
  .album-title-contain 
    h1 #{view.albumTitle}
  .add-review-contain 
    p(id='error') 
    h2 Reviews 
    a(href='/albums/' + view.albumID + '/reviews/new')
      button.btn.btn-success Add New Review
  .review-container 
    if (view.reviews)
      each review in view.reviews
        .album-single-review
          p.album-review-date= review.dateposted.toDateString()
          p.album-review-content= review.content 
          a(href='/users/' + review.review_user_id)  
            p.album-review-name By: #{review.name} 
          if (view.id == review.review_user_id)
            .delete-button-contain
              button(value=review.id class='delete-review glyphicon glyphicon-trash')
          else 
            span
script(src='/script.js')
      

include ../partials/footer
