include ../partials/head

.container.profile-contain
  .profile-info-contain
    .profile-img-contain 
    .profile-info 
      if view 
        h2 #{view.name} 
        p Email: #{view.email} 
        p Date Joined: #{view.dateJoined.toDateString()}
      p(id='error') 
  if (view.reviews) 
    h3 Reviews 
    .profile-reviews-contain
      each review in view.reviews 
        .profile-review-container
          .title-and-time
            a(href='/albums/' + review.review_album_id)
              p.index-review-title= review.title
            p.index-review-date= review.dateposted.toDateString()
          p.index-review-content= review.content
          .delete-button-contain
            button(id=view.userId value=review.id class='delete-review glyphicon glyphicon-trash')
script(src='/script.js')

include ../partials/footer
